@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/components.css";

/* --- 전역 스타일 --- */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.3s, color 0.3s;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
